title= 'Remember Me'
doctype html
html(lang='es', ng-app='app')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/stylesheets/materialize.css')
        link(rel='stylesheet', href='stylesheets/style.css')

        meta(name='description', content='A Kanban task manager')
        meta(name='keywords',content='Kanban, Productivity, Tasks')
        meta(name='author', content='Castle Studio')
        title= title
body(ng-controller='mainController')
    main
        .section.no-pad-bot.red.lighten-1.z-depth-3
            .container
                h1.header.light.light-text.red-text.text-lighten-4.center-on-small-only= title

                .center
                    h5.header.col.s12.light.main-title.red-text.text-lighten-4.center-on-small-only a task manager made with
                        i.material-icons.medium favorite

        .container.center
            .row
                .col.s12
                    .input-field
                        input(type='text', name='search', placeholder='Search task...')
block content

.fixed-action-btn.click-to-toggle
    a.btn.btn-floating.btn-large.waves-effect.waves-light.blue.right.z-depth-1(href='#taskModal')
        i.material-icons.large menu
    ul
        li.btn-floating.orange: a(data-tooltip='New task', data-position='left', href='#taskModal', class='modal-trigger tooltipped'): i.material-icons add
        li.btn-floating.blue:  i(class='material-icons tooltipped', id='sort', data-tooltip='Sort task', data-position='left') sort
        li.btn-floating.green: a(href='#taskModal', class='modal-trigger tooltipped'): i.material-icons search


script(src='/scritps/angular.min.js')
script(src='/scritps/main.js')
script(src='/scritps/jquery.min.js')
script(src='/scritps/materialize.min.js')
script(src='/scritps/init.js')